                    /* CSS FOR INCREMENT JAVASCRIPT FILE */
.main{
  width: 1350px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button{
   width: 200px;
   height: 30px;
   background-color:blueviolet;
   color: white;
   border-radius: 10px;
   cursor: pointer;
}
button:hover{
  background-color: white;
  color: blueviolet;

}

                       /*END CSS FOR INCREMENT JAVASCRIPT FILE */


                        /* CSS FOR GETTIME JAVASCRIPT FILE */
                        .main1{
                          width: 1350px;
                          height: 640px;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: center;
                        }btn{
                          width: 200px;
                          height: 30px;
                          background-color:blueviolet;
                          color: white;
                          border-radius: 10px;
                          cursor: pointer;
                       }
                       btn:hover{
                         background-color: white;
                         color: blueviolet;
                       
                       }


                         /*END CSS FOR GETTIME JAVASCRIPT FILE */


                         /* CSS FOR DIGITALCLOCK JAVASCRIPT FILE */

 .clock{
   width: 1350px;
   height: 640px;
   background-color: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
 }                        

                         /*END CSS FOR GETTIME JAVASCRIPT FILE */


                           /* CSS FOR EVENTS JAVASCRIPT FILE */





                           .main5{
                            width: 1350px;
                            height: 640px;
                            background-color: whitesmoke;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }    

